body{
     background-color: bisque;
}

.title{
     text-align: center;

}
.cuerpo{
     text-align: center;
    
}
.final{
     text-align: center;
}
.imgen:hover:hover img{
     opacity:0.6;
     
 }
 .imgen{
     text-align: center;
 }
 
